@if (dataModal()) {
<div class="square">
  <div class="d-flex justify-content-between align-items-start">
    <h3>{{ header() | uppercase }}</h3>
    <i (click)="closePopUp()" class="fa-solid fa-circle-xmark btn_close"> </i>
  </div>

  <div class="info">
    <div class="info_content">
      <div class="message">
        @if (dataArray().length) {
        <div class="d-flex flex-column">
          @for (item of dataArray(); track $index) {
          <span class="badge text-bg-success me-1 mb-1 fs-4">
            {{ item }}
          </span>
          }
        </div>
        } @else {
        <p class="message_text">{{ dataString() }}</p>
        }
      </div>

      <!-- <div class="hstack gap-3 buttons">
        <button (click)="closePopUp()" class="button_modal_cancel">
          Cerrar
        </button>
      </div> -->
    </div>
  </div>
</div>
}
