.login-page {
  min-height: 800px;
}

.login-content {
  margin-top: 100px;
  padding: 3rem;

  .login-content-title {
    color: var(--primary);
  }
  .login-content-subtitle {
    color: var(--text);
    font-size: 1.5rem;
  }
}

.glass-card {
  background: var(--white);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--black);
  width: 100%;
  max-width: 420px;
}

input.form-control {
  background-color: var(--white);
  color: var(--text);
  border: 1px solid var(--light);
  font-size: 1.2rem;
}

input.form-control::placeholder {
  color: var(--text);
}

input.form-control:focus {
  background-color: var(--white);
  color: var(--title);
  border-color: var(--secondary);
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.input-group-icon {
  background-color: transparent;
  border: none;
  color: var(--gray);
  padding-right: 1rem;
}
