/* You can add global styles to this file, and also import other style files */
@use "./_globals.scss";
@use "./_utilities.scss";
@use "./mixins";

:root {
  // Fonts
  --font_primary: "Lato", sans-serif;
  --font_secondary: "Cormorant Garamond", serif;
  --font_cursive: "League Script", serif;

  // Colors
  --primary: #ffafcc;
  --secondary: #fdc2d8;

  --black: #000;
  --white: #fff;
  --light: #e5e5e5;
  --title: #092648;
  --text: #80858b;
  --red: #c1121f;
  --success: #0ca678;
  --green: #54c63a;

  // Letter space
  --letter_space: 0.2rem;

  // Border radius
  --border_radius: 0.3rem;
}
